.home-header {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-left: 0px;
    float: left;
    color: #282c34;
}
.cover {
    background-image: url("../gatorLogo.jpg");
    background-size: cover;
    position: center;
    padding: 12em;
}

figure {
    width: 300px;
    overflow: hidden;
    margin: 0;
}
figure img {
    display: inline-block;
    background-position: left;
    width: 100%;
    margin: -3% 0;
    float: none;

}
header {
    white-space: nowrap;
}

.wrapper {
    padding: 20px;
}